html {
    background-image: url(./img/Gemini_Generated_Image_nenfw4nenfw4nenf.png);
    color: black;
}

h1 {
    font-size: 33pt;
    color: black;
    font-family: "Smythe", system-ui;
}

a {
    color: black;
}

p {
    font-size: 23pt;
    color: black;
    font-family: "Smythe", system-ui;
}

h2 {
    font-size: 25pt;
    color: black;
    font-family: "Smythe", system-ui;
}

.smythe-regular {
  font-family: "Smythe", system-ui;
  font-weight: 400;
  font-style: normal;
}


/* ---------- The Wall Logo ---------- */

#walllogo {
    width: fit-content;
    height: fit-content;
}

#walllogo img {
    width: 30%;
    padding-left: 650px;
    margin-top: 25px;
}

/* ---------- 'The Album' Image ---------- */

#albumimg {
    width: fit-content;
    height: fit-content;
    margin-left: 25px;
}

#albumimg img {
    width: 80%;
}

/* ---------- Introduction ---------- */

#introduction-album {
    margin-left: 25px;
    margin-top: 50px;
    backdrop-filter: blur(8px);
    width: 1820px;
    height: 700px;  
    border: 5px solid #36454F;
    margin-bottom: 50px;
    border-radius: 48px;
}

#introduction-album h1 {
    padding-top: 25px;
    padding-left: 25px;
}

#introduction-album p {
    padding-top: 25px;
    padding-left: 25px;
}

#wallcover {
    float: right;
    display: block;
    border-radius: 48px;   
    padding-right: 25px;
    padding-left: 15px;
}

#wallcover:hover {
    transform: scale(115%);
    transition: 0.5s;
}

#wallcover:not(:hover) {
    transform: scale(100%);
    transform: 1.5s;
}


/* --------- The Story the Album Tells ---------- */

#story-album {
    margin-left: 25px;
    margin-top: 50px;
    backdrop-filter: blur(8px);
    width: 1820px;
    height: 900px;  
    border: 5px solid #36454F;
    margin-bottom: 50px;
    border-radius: 48px;
}

#story-album h1 {
    padding-top: 25px;
    padding-left: 25px;
}

#story-album p {
    padding-top: 25px;
    padding-left: 25px;
}

blockquote {
    font-size: 20pt;
    color: black;
    font-family: "Smythe", system-ui;
}

#story-album h2 {
    margin-left: 25px;
}
